{
  "root": true,
  "parserOptions": {
    "tsconfigRootDir": ".",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "extraFileExtensions": [
      ".vue"
    ],
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "prettier",
    "no-console": "warn",
    "no-debugger": "warn",
    "no-else-return": "warn",
    "no-irregular-whitespace": "error",
    "no-unsafe-finally": "error",
    "no-unused-vars": "error",
    "prefer-promise-reject-errors": "off",
    "vue/html-closing-bracket-spacing": "warn",
    "vue/require-default-prop": "warn",
    "vue/no-v-html": "warn",
    "vue/multi-word-component-names": ["error"],
    "vue/max-attributes-per-line": "off"
  ]
}
